.button {
    font-family: inherit;
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.button-hide {
    width: 24px;
    height: 24px;
    background-image: url('./../img/icons/sidebar.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;

    transition: scale 0.2s ease-in;

    &:hover {
        scale:110%;
    }

    &_black {
        background-image: url('./../img/icons/btn-hide-b.svg');
    }
}

.button-favorite {
    width: 24px;
    height: 24px;
    background-image: url('./../img/icons/star.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;

    transition: scale 0.2s ease-in;

    &:hover {
        scale:110%;
    }
}

.button-create {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #2e3238;

    border: 1px solid #d5d8dd;
    border-radius: 4px;
    padding: 6px 12px;
    width: 82px;

    transition: all 0.2s ease-in;

    &:hover {
        color: #acb1b8;
        border-color: #989ca1;
    }
}

.button-saved {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fff;

    border-radius: 4px;
    padding: 6px 12px;
    background-color: #0078cf;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #108de6;
    }
}

.button-saved-logout {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #2e3238;

    border: 1px solid #d5d8dd;
    border-radius: 4px;
    padding: 6px 12px;

    transition: all 0.2s ease-in;

    &:hover {
        border-color:#a4a5a7;
    }
}

.button-add {
    background-image: url('./../img/icons/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.button-search {
    background-image: url('./../img/icons/search-b.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.button-close {
    width: 16px;
    height: 16px;

    background-image: url('./../img/icons/closed.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;

    transition: scale 0.2s ease-in;

    &:hover {
        scale: 110%;
    }
}

.button-calendar {

    background-image: url('./../img/icons/calendar.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    transition: scale 0.2s ease-in;

    &:hover {
        scale: 110%;
    }
}

.button-close-badge {
    width: 16px;
    height: 16px;

    background-image: url('./../img/icons/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;

    transition: scale 0.2s ease-in;

    &:hover {
        scale: 110%;
    }
}