@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('./../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
        url('./../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('./../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('./../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter 28pt';
    src: url('./../fonts/Inter/Inter28pt-Regular.woff2') format('woff2'),
        url('./../fonts/Inter/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Visually-hidden */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-body {
    min-height: 100%;
	margin: 0;
	font-family: 'Open Sans',serif;
	font-weight: 400;
	font-size: 14px;
	color: #2e3238;
	line-height: 1.43;

    background: linear-gradient( #edecec, transparent 1px), linear-gradient( 90deg, #e5e4e4, transparent 1px);
    background-size: 8px 8px;
    background-position: center center;
}

img {
	max-width: 100%;
	object-fit: contain;
}

// Container
.container {
	max-width: 1950px;
	padding: 0 15px;
	margin: 0 auto;
}

.none {
    display: none !important;
}
